div.site-nav.bg-success
    .close-button-div
        button.btn.btn_trans.close-nav x
    h3.cart-header Goods
    #category-list
    h3.cart-header Cart
    #cart-nav
    .text-right
        a(
            class="btn btn-success"
            href="/order"
            target="_blank"
        ) Order
